<h1>Welcome to r0by notes</h1>


<div class="list-group">

  <%= link_to "Create a note", new_note_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Create a user", new_user_path, class: "list-group-item list-group-item-action" %>
</div>
